<mat-toolbar class="rb-header">
  <a [routerLink]="['home']"><img [src]="logoImg"></a>
  <section fxFlex="1 1 auto"></section>
  <section class="menu-right">
    <button [routerLink]="['about']" mat-button>品牌文化</button>
    <button [routerLink]="['products']" mat-button>产品中心</button>
    <button [routerLink]="['join']" mat-button>招商加盟</button>
    <button [routerLink]="['contact']" mat-button>联系我们</button>
  </section>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar class="rb-footer">
  <span>Website of BRAGURG</span>
</mat-toolbar>

