.rb-footer {
  display: flex;
  flex-direction: row;
  justify-content:center ;
  height: 70px;
}

#banner {
  background-attachment: fixed;
  background-color: #272833;
  background-image: url("~src/assets/images/bg_about.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 21;
}

#banner:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}

#banner:after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#one {
  background-position: center 45px;
  background-image: url("~src/assets/images/tp1.png");
}

#two {
  background-position: center 45px;
  background-image: url("~src/assets/images/tp2.png");
}

#three {
  background-position: center 45px;
  background-image: url("~src/assets/images/tp3.png");
}
