/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Microsoft YaHei UI";
  margin: 0px;
  color: #FFFFFF;
  background-color: #000000;
}

html,
body,
div {
  height: 100%;
}
